################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ToDoList/.vs/ToDoList/FileContentIndex/5c3c3d7a-57f7-40ba-9251-381a199b7288.vsidx
